name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, windows-2019, macos-10.15]
        python-version: [3.6, 3.7]
        pytorch-version: [1.2.0, 1.3.0, 1.4.0]
        exclude:
          - os: windows-2019
            pytorch-version: 1.2.0
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: upgrade pip setuptools wheel
      run: |
        python -m pip install --upgrade pip setuptools wheel
    - name: Install PyTorch
      run: |
        pip install torch==${{ matrix.pytorch-version }}+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html || pip install torch==${{ matrix.pytorch-version }} torchvision==0.5.0
#        pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html || pip install torch torchvision
    - name: Install dependencies
      run: |
        pip install -e . ".[test]"
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest tests --cov=rlpyt --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
